// ==============================
// Custom style
// ==============================

.side-image {
    width: 25%;
    height: 100%;
    float: left;

    img {
        height: auto;
        margin: 25px 0 0 0;
        @include box-shadow(0 0 0 .3618em rgba(0, 0, 0, .05));
        @include transition(all 0.4s ease);

        &:hover {
            position: relative;
            @include transform(translateY(-.75rem));
        }
    }
}

.side-image-main {
    width: 70%;
    height: 100%;
    float: right;
}

@media only screen and (max-width: 680px) {
    .consulting-main {
        width: 100%;
        height: 100%;
    }

    .consulting-side {
        width: 25%;
        float: left;

        img {
            height: auto;
            margin: 25px 0 0 0;
            @include box-shadow(0 0 0 .3618em rgba(0, 0, 0, .05));
            @include transition(all 0.4s ease);

            &:hover {
                position: relative;
                @include transform(translateY(-.75rem));
            }
        }
    }
}

header {
    .logo {
          min-height: 4.0em;
          height: 4.0em;
          vertical-align: text-bottom;
    }

    .header-title-post {
        padding-left: 0.0rem;
      }
}

// Section Headings Left
.archive {
    .single-title, .single-subtitle {
      text-align: left;
    }
}

.special {
    .single-title, .single-subtitle {
      text-align: left;
    }
}

.single {
    .content {
        > h2 > .header-mark::before {
              content: ">";
            }
    }
}

.contact-button {
appearance: none;
background-color: #3e587b;
border: 2px solid #1A1A1A;
border-radius: 15px;
box-sizing: border-box;
color: #ffffff !important;
cursor: pointer;
display: block;
font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-size: 1.2rem;
font-weight: 600;
line-height: normal;
margin: 0 auto;
min-height: 60px;
min-width: 0;
outline: none;
padding: 16px 24px;
text-align: center;
text-decoration: none;
transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
width: 12rem;
max-width: 100%;
will-change: transform;
}

.contact-button:disabled {
pointer-events: none;
}

.contact-button:hover {
box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
transform: translateY(-2px);
}

.contact-button:active {
box-shadow: none;
transform: translateY(0);
}