// Color of the background
$global-background-color: #ffffff;
$global-background-color-dark: #2d4059;

// Color of the header background
$header-background-color: #ffd460;
$header-background-color-dark: #252627;