<div class="container">
    <div class="row header">
        <h3>Fill out the form to get in touch!</h3>
    </div>
    <div class="row body">
        <form action="https://getform.io/f/ab98f2db-82a4-44b5-b79c-7044ca033309" method="post">
            <div class="form-group row">
                <label for="name" class="col-4 col-form-label">Name:</label>
                <div class="col-8">
                    <div class="input-group">
                        <input id="name" name="name" placeholder="Please enter your name" type="text" required="required" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-4 col-form-label">E-mail address:</label>
                <div class="col-8">
                    <div class="input-group">
                        <input id="email" name="email" placeholder="Your e-mail address" type="text" required="required" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="message" class="col-4 col-form-label">Message:</label>
                <div class="col-8">
                    <textarea id="message" name="message" cols="40" rows="10" required="required" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-4 col-8">
                    <button name="submit" type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>


